@model MKPatients.Models.PatientTreatment

@{
    ViewData["Title"] = "Create a Treatment for " + ViewBag.PatientDiagnosisName + ", Patient: " + ViewBag.PatientLName + ", " + ViewBag.PatientFName; ;
}

<h1>@ViewData["Title"]</h1>

<h1>Create</h1>

<h4>PatientTreatment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientDiagnosisId" value="@ViewBag.PatientDiagnosisId" />
            <div class="form-group">
                <label asp-for="DatePrescribed" class="control-label"></label>
                <input asp-for="DatePrescribed" class="form-control" readonly value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span asp-validation-for="DatePrescribed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
